# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Nodemon debug
nodemon-debug.log

# Build / production
dist/
build/

# Mongo / local DB files (if any)
data/
*.db

# IDE files
.vscode/
.idea/